/* color scheme: 00b5cc-ff3366-08090a-f1f7ee-c4fff9*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    margin: 8px;
}

nav {
    width: 100%;
    background: linear-gradient(45deg,#00b5cc,#C4FFF9);
    padding: .75rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-bottom: .8rem;
}

nav a:hover {
    border-bottom: .2rem solid black;
    text-decoration: none;
}

nav a.active {
    background-color: black;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

nav li:last-child {
    float:right;
}

i {
    color: white;
    size: 4.5em;
}

main {
    margin: 3em;
    padding: 3em;
    align-items: left;
}

.background-pic img {
    width: 100%;
}

.background-pic {
    background-image: url(../imgs/background-sm.jpg);
    background-repeat: no-repeat; 
    background-size: contain;
}


/* doesn't center??? */
.background-pic p {
    position: absolute;
    color: white;
    font-family: 'Kaushan Script', fantasy;
    font-weight: 100rem;
    font-size: 10rem;
    top: 20%;
    left: 20%;
    z-index: 1;
}

.skill {
    background-color: #c4fff9;
    padding: .2em;
}

input {
    border:0;
    width: 100%;
}
.search-bar {
    margin-top: 3em;
    padding-left: 10px;
    display: flex;
    width: 73%;
    border: none;
    position: relative;
    height: 60px;
    box-shadow: 0px 1px 20px black;
    color: gray;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

header h1 {
    padding: 1em;
    padding-left: 2.5em;
    color: #08090a
}

footer {
    margin: 3em;
    padding-left: em;
}

@media (max-width: 830px) {
    
    .background-pic p {
        font-weight: 50rem;
        font-size: 5rem;
    }

}