/* color scheme: 00b5cc-ff3366-08090a-f1f7ee-c4fff9-#1C3041*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    margin: 8px;
    font-size: 10px;
}

nav {
    width: 100%;
    background-color: #1C3041;
    padding: .75rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-bottom: .8rem;
    font-size: 0.98em;
}

nav .name {
    display:none;
    color: black;
    font-family: 'Kaushan Script', fantasy;
    font-size: 1rem;
}

nav img {
    width: 10%;
}

nav a:hover {
    border-bottom: .2rem solid black;
    text-decoration: none;
}

nav a.active {
    background-color: black;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

main {
    margin: auto;
    align-content: center;
}

.background-pic img {
    width: 100%;
}

p.card-title {
   font-weight: bold;
   font-size: 1.5rem;
}

.background-pic {
    height: 50vh;
    background: linear-gradient(45deg,#00b5cc,#C4FFF9);
    background-repeat: no-repeat; 
    background-size: contain;
}

.banner-text {
    position: absolute;
    color: white;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.background-pic p {
    padding-top: 5px;
    font-size: 0.75em;

}
.background-pic h1 {
    font-family: 'Kaushan Script', fantasy;
    font-size: 5rem;
}

.background-pic h1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

.search-bar {
    margin-top: 3em;
    padding-left: 10px;
    display: flex;
    width: 90%;
    border: none;
    position: relative;
    height: 2.5em;
    box-shadow: 0px 1px 5px black;
    color: gray;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    border-radius: 30px;
}

.search-bar input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 6px;
    border: none;
    box-sizing: border-box;
  }

.search-bar button {
    border-radius: 0px 30px 30px 0px;
    float: left;
    width: 20%;
    background: #00b5cc;
    font-size: 1em;
    border: 1px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search-bar button:hover {
    background: #C4FFF9;
}
.card-title {
    font-size: 1em;
    font-weight: 1.5rem;
}
.skill {
    background-color: #c4fff9;
    padding: .2em;
}


.form {
    width: 60%;
    box-shadow: 0px 1px 15px black;
    border: none;
    text-align: left;
    font-size: 0.75em;
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    margin: 0 auto;
    line-height: 30px;
}


footer {
    font-size: 0.5em;
    left: 50%;
    margin-left: 3em;
}
.card {
    margin: 2em;
}
.card:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: inset 0 0 0 1.5px #08090a;
}
.fa {
    color:black;
    padding-top: 0.5em;
    z-index: 9000;
}

.fa-github {
    padding-left: 1em;
}

.links {
    text-align: center;
}
