body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width:50%;
    margin: 0 auto;
    line-height: 40px;
}

img {
    max-height: 400px;
}

p {
    line-height: 1.5;
}

h1 {
    color: #00b5cc;
}

h2 {
    color: #23cba7
}

h3 {
    color: #049372
}

em {
    font-weight: bold;
}